body {
    font-family: 'Accura Thin Italic', sans-serif;
    background-color: #fbf6f1;
    margin: 0;
    color: #402816;
  }
  
  header {
    background-color: #f6eade;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    font-family: 'Accura Black';
    font-size: 48px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #663328;
    font-family: 'Accura Semibold';
  }
  
  .hero {
    text-align: center;
    padding: 50px;
    background-color: #f6eade;
    
  }
  
  .hero h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  button {
    margin: 10px;
    padding: 12px 24px;
    background-color: #d38d64;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #e4bc9e;
  }
  
  .servicios {
    padding: 40px;
    background-color: #fff;
  }
  
  .cards {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    background-color: #f6eade;
    padding: 20px;
    border-radius: 12px;
    width: 200px;
    text-align: center;
    font-family: 'Accura Semibold';
  }
  
  footer {
    background-color: #402816;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 5px 0;
  }
  .nosotros {
    background-color: #f6eade;
    padding: 60px 40px;
    color: #402816;
  }
  
  .nosotros h2 {
    text-align: center;
    font-size: 36px;
    font-family: 'Accura Black';
    margin-bottom: 40px;
  }
  
  .contenido-nosotros {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    justify-content: center;
  }
  
  .contenido-nosotros img {
    max-width: 300px;
    border-radius: 20px;
  }
  
  .contenido-nosotros .texto {
    max-width: 600px;
    font-size: 18px;
    font-family: 'Accura Thin Italic', sans-serif;
    line-height: 1.6;
  }